@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  --font-quicksand: Quicksand, arial;
  --font-montserrat: Montserrat, arial;
  --font-bitcount: Bitcount Grid Double, arial;
}
